<body>
<div class="container">
<div class="sidebar1">
    <button id="newGame">New Game</button>
    <button id="hint">Gimme a Hint!</button>
    <button id="answers">Show Answers</button>
    <button id="autosolve">Solve Puzzle</button>
</div>

<div class="wrapper">
    <h1>8 Tile Puzzle</h1>
    <div class="gameborder">
        <div class="row">
            <div class="tile" id="sq0"></div>
            <div class="tile" id="sq1"></div>
            <div class="tile" id="sq2"></div>
        </div>
        <div class="row">
            <div class="tile" id="sq3"></div>
            <div class="tile" id="sq4"></div>
            <div class="tile" id="sq5"></div>
        </div>
        <div class="row">
            <div class="tile" id="sq6"></div>
            <div class="tile" id="sq7"></div>
            <div class="tile" id="sq8"></div>
        </div>
    </div>
    <div class="victory">

    </div>
</div>

<div class="sidebar2">
    Next Move: 
</div>
</div>

</body>


