<!DOCTYPE html>
<html>
<head>
<title>8 Tile Puzzle</title>
<script language="javascript">
    </script>
<link href='http://fonts.googleapis.com/css?family=Fresca' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div class="wrapper">
    <!-- <h1>8 Tile Puzzle</h1> -->
    <div class="gameborder">
        <div class="row">
            <div class="tile" id="sq0"></div>
            <div class="tile" id="sq1"></div>
            <div class="tile" id="sq2"></div>
        </div>
        <div class="row">
            <div class="tile" id="sq3"></div>
            <div class="tile" id="sq4"></div>
            <div class="tile" id="sq5"></div>
        </div>
        <div class="row">
            <div class="tile" id="sq6"></div>
            <div class="tile" id="sq7"></div>
            <div class="tile" id="sq8"></div>
        </div>
        <div class="autosolve1">
            <button id="autosolve"  *ngIf="isSolved" >Help</button><br><br><br>
            
            <button id="ok" (click)='done()' *ngIf="!isSolved">Proceed</button>
        </div>
        <p id="autosolve"  *ngIf="isSolved" >Note: Your will loose 10 minutes</p>
        
    </div>
</div>
</div>



</body>

</html>